/* General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: white;
  color: black;
  font-size: 20px;
  line-height: 1.5;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

/* Nav */

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

.main-nav ul {
  display: flex;
  align-items: center;
}

.main-nav ul li {
  padding: 26px 20px 27px 20px;
  font-family: Calibri, 'Gill Sans', sans-serif;
}

#quoteButton {
  background: navy;
  padding: 10px;
}

#quoteButton a {
  color: white;
}

.main-menu a {
  transition: background 1s;
}

.main-menu a:hover {
  background-color: navy;
  color: white;
}

.logo {
  display: block;
}


/* Showcase */

/* .showcase {
  width: 100%;
  height: 500px;
  background: url('https://via.placeholder.com/1000x1000')
  no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
} */

/* .arrows * {
  position: absolute;
  top: 10%;
} */

.w3-content {
  max-width: 100%;
}

/* .mySlides {
  transition: background 1s;
} */

/* Main */

.center {
  text-align: center;
}

.center h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 40px 0 10px 0;
  font-size: 54px;
  color: navy;
}

.center p {
  font-size: 22px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

